$white: #ffffff;
$black: #000000;
$gray-light:hsl(0, 0%, 97%);
$orange-strong: #E8473E;
$orange-hover: hsl(4, 59%, 65%);
$orange-focus: hsl(4, 59%, 70%);
$orange: #EE7423;
$gray: #777777;
$color-scrollbar-thumb-hsl: hsl(31.27, 70.01%, 55.1%);
$color-scrollbar-thumb: $color-scrollbar-thumb-hsl;
$color-scrollbar-thumb-active-hsl: hsl(31.27, 95.01%, 55.1%);
$color-scrollbar-thumb-active: $color-scrollbar-thumb-active-hsl;
$color-scrollbar-thumb-hover-hsl: hsl(31.27, 90.01%, 55.1%);
