.error {
  background-image: url("../../exception/error-bg.jpg");

  .exception-panel {
    .exception-code {
      background-color: #e91e63;

      img {
        margin-left: -194px;
      }
    }

    .exception-icon {
      background-color: #e91e63;
    }
  }
}
@media (max-width: 640px) {
  .exception-body {
    .exception-panel {
      left: 0;
      margin-left: 0;
      width: 100%;
    }
    &.error {
      .exception-panel {
        .exception-code {
          img {
            height: 150px;
            margin-left: -150px;
          }
        }
      }
    }
  }
}
