$confuturoPrimary: #E8473E;
$confuturoSecondary: #777777;
$orangeConfuturo: #EE7423;
$primaryColor: $confuturoPrimary;
$primaryTextColor:#ffffff;
$accentColor:$confuturoSecondary;
$accentTextColor: #212121;
@import "./sass/theme/theme_compact";